{% extends 'base.html.twig' %} 
{% block title %} Add ComicBook {% endblock %}
{% block body %}
<style>
.form-container {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-content:center;
    width:55%;
}

.image-form-container {
    align-items:center;
}
.one-info-container {
    display:flex;
    flex-direction:row;
    justify-content : space-between;
    align-items:center;
    align-content:center;
    padding : 8px;
}

.one-section-container {
    margin-top:6px;
    padding:15px;

}
.submit-container {
    text-align:center; 
    margin-top:20px;
}
.whole-section-container {
    padding:60px;
    display:flex;
    flex-direction:row;

}
.img-input { 
    margin-left:10px;
}
</style>

<div class="container whole-section-container">
    <div class="form-container image-form-container">
        {{ form_start(imgform) }}
        <h2> Add Image </h2>
        <div class="one-section-container">
            <div class="one-info-container">
                <h5>Image Url </h5>
                {{ form_widget(imgform.cb_image_url,{'attr': {'class': 'img-input'}}) }}
            </div>
            <div class="one-info-container">
                <h5>Image Alt  </h5>
                {{ form_widget(imgform.cb_image_alt) }}
            </div>
            <div class="submit-container">
                {{ form_widget(imgform.submit, {'attr': {'class': 'btn btn-danger'}}) }}
            </div>
        </div>
        {{ form_end(imgform) }}
    </div>
</div>
{% endblock %}