{% extends 'base.html.twig' %} 
{% block title %} Add ComicBook {% endblock %}
{% block body %}
<style>
.form-container {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-content:center;
    width:55%;
}

.image-form-container {
    align-items:center;
}
.one-info-container {
    display:flex;
    flex-direction:row;
    justify-content : space-between;
    align-items:center;
    align-content:center;
    padding : 8px;
}

.one-section-container {
    margin-top:6px;
    padding:15px;

}
.submit-container {
    text-align:center; 
    margin-top:20px;
}
.whole-section-container {
    padding:60px;
    display:flex;
    flex-direction:row;

}
.img-input { 
    margin-left:10px;
}
</style>

<div class="container whole-section-container">
    <div class="form-container">
        {{ form_start(f) }}
        <h2> Add a Comic-book </h2>
        <div class="one-section-container" style="border-top:1px solid black;border-right:1px solid black;">
            <div class="one-info-container">
                <h5>Name </h5>
                {{ form_widget(f.cb_name) }}
            </div>
            <div class="one-info-container">
                <h5>Creator  </h5>
                {{ form_widget(f.cb_creator) }}
            </div>
            <div class="one-info-container">
                <h5>Year  </h5>
                {{ form_widget(f.cb_year) }}
            </div>
            <div class="one-info-container">
                <h5>Editor  </h5>
                {{ form_widget(f.editor) }}
            </div>
        </div>
        <div class="one-section-container"  style="border-bottom:1px solid black;border-left:1px solid black;">
            <div class="one-info-container">
                <h5>Description  </h5>
                {{ form_widget(f.cb_description) }}
            </div>
            <div class="one-info-container">
                <h5>Main Hero   </h5>
                {{ form_widget(f.cb_main_superhero) }}
            </div>
            <div class="one-info-container">
                <h5>Image from DB  </h5>
                {{ form_widget(f.cb_image_id) }}
            </div>
            <div class="one-info-container">
                <h5>Price  </h5>
                {{ form_widget(f.cb_price) }}
            </div>
        </div>
        <div class="submit-container">
            {{ form_widget(f.submit, {'attr': {'class': 'btn btn-danger'}}) }}
        </div>
        {{ form_end(f) }}
    </div>
</div>
{% endblock %}