{% extends 'base.html.twig' %}

{% block title %}Hello ComicBookController!{% endblock %}

{% block body %}
<style>
    .example-wrapper {
        margin: 1em auto;
        max-width: 800px;
        font: 18px/1.5 sans-serif;
    }

    .example-wrapper code {
        background: #F5F5F5;
        padding: 2px 6px;
    }

    .container {
        display:flex;
        flex-direction : row;
        /*height:250px;*/
    }
    
</style>

<div class="example-wrapper">
    <div class="container">
        {% for comicBook in comicBooks %}
        <div class="card">
            <img class=".card-img" src="{{comicBook.getCbImage().getCbImageUrl()}}" alt="{{comicBook.getCbImage().getCbImageAlt()}}" />
            <div class="card-body">
                <h4 class="card-title"><a>{{comicBook.getCbName()}}</a></h4>
                <p class="card-text">
                    <ul>
                        <li>Editor : {{comicBook.getCbEditor()}}</li>
                        <li>Price : {{comicBook.getCbPrice()}}</li>
                    </ul>
                </p>
                <a href="{{path('comicBook_show',{'id':comicBook.getId()})}}" class="btn btn-primary">Read More</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}